.loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #131619;
    color: white;
}

.logo-aloa-loading {
    justify-content: center;
    align-items: center;
}

.logo-aloa-loading  > img {
    width: 50%;
    border-radius: 25%;
    margin-left: 20%;
    margin-bottom: 5%;
    margin-top: 25%;
}

#spinner {
    width: 80px;
    height: 80px;
}

.logo-name > h2 {
    font-size: 80px;
    margin-bottom: 10%;
}

.span-logo > h6 {
    margin-top: 15%;
}